<h1>Movies</h1>

<% if @movies.any? %>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <%= link_to movie.title, movie_path(movie) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>Nick's life works have been deleted, sorry :(</h3>
<% end %>
