<h3 class="text-center">
  <%= @movie.title %>
</h3>

<div class="btn-group btn-group-sm">
  <%= link_to "Return to Movies", movies_path, class: "btn btn-info" %>
  <%= link_to "Edit #{@movie.title}", edit_movie_path(@movie), class: "btn btn-warning" %>
  <%= link_to "Delete #{@movie.title}", movie_path(@movie), class: "btn btn-danger",
                                  data: { confirm: "REALLY?! :D :D", method: "delete" }%>

</div>
