/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
  /*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  margin-top: 50px;
  background-color: #9d9d9d;
  color: #222;
}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #222;
  text-align: center;
}

.muted {
  opacity: 0.5;
}

.panel, .panel-heading, .panel-footer, .panel > .list-group, .panel > .list-group > a > .list-group-item, .panel > .list-group > .list-group-item{
  background-color: #222;
  color: #9d9d9d;
  border-color: #9d9d9d;
  border-radius: 0px;
}

.panel > .list-group > a > .list-group-item:hover, .panel > .list-group > .list-group-item:hover{
  background-color: #090909;
  color: #FD4;
}

.panel > .list-group > a, .panel > .list-group {
  text-decoration: none;
}

#movie-details-panel {
  margin-bottom: 0;
}

.star-gold, .navbar-inverse .navbar-brand{
  color: #FD4;
}


input.star{
  display: none;
}

label.star {
  float: right;
  padding: 5px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content:'\e006';
  color: #FD4;
  transition: all .25s;
}

label.star:hover{
  color: #FD4;
  transform: rotate(-15deg) scale(1.3);
}

label.star:before{
  content:'\e007';
  font-family: 'Glyphicons Halflings';
}

.panel > .list-group > .reviews > hr {
  margin: 0;
  margin-top: 15px;
  border-color: transparent;
}

li.list-group-item.reviews {
  padding-bottom: 0px;
  padding-top: 15px;
}
